.sign {
  max-width: 396px;
  margin: 52px auto 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.sign__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin-bottom: 40px;
}
.sign__form {
  width: 100%;
  padding: 0;
  
}
.sign__set {
  border: none;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: flex-start;
  margin: 0 0 110px 0;
}
.sign__info {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-bottom: 5px;
}
.sign__item {
  width: 100%;

}
.sign__input {
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background-color: inherit;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  outline: none;
}
.sign__submit {
  border-radius: 3px;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  width: 396px;
  height: 45px;
  border: none;
  transition: opacity .2s linear;
  margin-bottom: 16px;
}
.sign__text {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.sign__link {
  color: #4285f4;
  cursor: pointer;
  text-decoration: none;
}
.sign__input-error {
  opacity: 0;
  display: block;
  margin: 5px 0 5px 0;
  color: #ff3055;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  margin-bottom: 24px;
}
.sign__input-error-display {
  opacity: 1;
}
.sign__button_disabled {
  background-color: #d9d9d9;
  color: #000;
  cursor: default;
  pointer-events: none;
  opacity: .2;
}
@media screen and (max-width: 510px) {
  .sign {
    max-width: 260px;
    margin: 38px auto 0 auto;
    align-items: center;
  }
  .sign__title {
    margin-top: 28px;
    margin-bottom: 80px;
  }
  .sign__form {
    margin: 0 0 195px 0;
  }
  .sign__submit {
    font-size: 12px;
    width: 260px;
  }
  .sign__text {
    font-size: 12px;
  }
}
