.navbar {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.navbar__films {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 7px 0 0 20px;
  text-decoration: none;
  transition: border 1s linear 0.1s;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 0px 5px;
}
.navbar__profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 0 0 50px;
  text-decoration: none;
  border-color: #fff;
  transition: border 1s linear 0.1s;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 0px 5px;
  
}
.navbar__profile-text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 7px 13px 0 0;
  padding: 0;
  text-decoration: none;
}
.navbar__profile-image {
  border-radius: 6px;
  border: 1px solid rgba(49, 49, 49, 1);
  background-color: rgba(49, 49, 49, 1);
  padding: 10px 10px;
}
.navbar__button {
  display: none;
}
.navbar__profile:hover,
.navbar__films:hover {
  /* border: 2px solid #f5f5f5;
  border-radius: 10px;
  padding: 0px 5px; */
  border-color: white;
}
@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
  .navbar__button {
    display: inline-block;
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .navbar__icon {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 800px) {
  .navbar__icon {
    width: 40px;
    height: 43px;
  }
}
